/** || MEDIA QUERIES */

/** 0px <> 481px */

@media only screen and (min-width: 0px) and (max-width: 481px) {
	#about,
	#work {
		scroll-margin-top: 12vh;
	}

	/*! HEADER // NAV  */

	.name-wrapper {
		display: none;
	}
	.header {
		height: 8vh;
		display: block;
		align-content: center;
		padding: 0.5rem 3rem;
	}

	.header__border-gradient {
		position: sticky;
		top: 8vh;
		height: 4px;
		background: linear-gradient(
			to left,
			var(--BLACK) 10%,
			var(--WHITE) 45%,
			var(--WHITE) 55%,
			var(--BLACK) 90%
		);
		z-index: 100;
	}

	.nav {
		font-size: var(--F-NORMAL);
		margin-right: 0;
		padding-top: 0.5rem;
	}
	.nav__ul {
		justify-content: space-evenly;
	}
	.nav__li {
		margin-right: 0;
	}

	/*! AVATAR // TECH */

	.avatar__img {
		border-radius: 15%;
	}

	.tech-stack i {
		margin: 0 3.5vw;
	}

	/*! GENERAL */

	#about,
	#work,
	#contact,
	.footer {
		margin-top: 6vh;
	}

	.avatar,
	.tech-stack {
		margin: 6vh 0;
	}

	.about__left,
	.work__left,
	.contact__left {
		text-align: start;
		margin-bottom: 3vh;
		margin-left: 12vw;
		padding-bottom: 3vh;
		border-right: none;
		border-bottom: 2px solid var(--WHITE);
		max-width: 75vw;
	}

	.about__left h2,
	.work__left h2,
	.contact__left h2 {
		margin-right: none;
		font-size: var(--F-XL);
	}

	.tech-stack i,
	.contact__center i {
		font-size: 2.5rem;
	}

	.label {
		height: 30px;
	}

	.label h3 {
		font-size: var(--F-NORMAL);
	}
	.label p {
		font-size: var(--F-SM);
		font-weight: 600;
	}

	/*! ABOUT */

	#about {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"aboutL"
			"aboutC"
			"aboutR";
	}

	.about__center {
		font-size: var(--F-SM);
		max-width: 75vw;
		margin-left: 12vw;
	}

	/*! WORK */

	#work {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"workL"
			"workC"
			"workR";
	}

	.work__center {
		grid-template-columns: 80vw;
		grid-template-rows: repeat(5, 125px);
		grid-template-areas:
			"project1 "
			"project2 "
			"project3 "
			"project4 "
			"project5 ";
	}

	/*! CONTACT */

	#contact {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"contactL"
			"contactC"
			"contactR";
	}

	/*! FOOTER */

	.footer {
		height: 60px;
	}

	.footer__logo {
		width: 85px;
	}

	.footer__h4--left {
		margin-right: 5vw;
		font-size: var(--F-NORMAL);
	}

	.footer__h4--right {
		margin-left: 5vw;
		font-size: var(--F-NORMAL);
	}
}

/** 481px <> 768px */

@media only screen and (min-width: 481px) and (max-width: 768px) {
	#about,
	#work {
		scroll-margin-top: 12.5vh;
	}

	/*! HEADER // NAV  */

	.name-wrapper {
		display: none;
	}
	.header {
		height: 8vh;
		display: block;
		align-content: center;
		padding: 0.5rem 8rem;
	}

	.header__border-gradient {
		position: sticky;
		top: 8vh;
		height: 5px;
		background: linear-gradient(
			to left,
			var(--BLACK) 10%,
			var(--WHITE) 45%,
			var(--WHITE) 55%,
			var(--BLACK) 90%
		);
		z-index: 100;
	}

	.nav {
		font-size: var(--F-NORMAL);
		margin-right: 0;
		padding-top: 0.5rem;
	}
	.nav__ul {
		justify-content: space-evenly;
	}
	.nav__li {
		margin-right: 0;
	}

	/*! AVATAR // TECH */

	.avatar__img {
		border-radius: 15%;
	}

	.tech-stack i {
		margin: 0 3.5vw;
	}

	/*! GENERAL */

	#about,
	#work,
	#contact,
	.footer {
		margin-top: 10vh;
	}

	.avatar,
	.tech-stack {
		margin: 8vh 0;
	}

	.about__left,
	.work__left,
	.contact__left {
		text-align: start;
		margin-bottom: 3vh;
		margin-left: 12vw;
		padding-bottom: 3vh;
		border-right: none;
		border-bottom: 2px solid var(--WHITE);
		max-width: 75vw;
	}

	.about__left h2,
	.work__left h2,
	.contact__left h2 {
		margin-right: none;
		font-size: var(--F-XL);
	}

	.tech-stack i,
	.contact__center i {
		font-size: 3rem;
	}

	.label {
		height: 40px;
	}

	.label h3 {
		font-size: var(--F-M);
	}
	.label p {
		font-size: var(--F-NORMAL);
		font-weight: 600;
	}

	/*! ABOUT */

	#about {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"aboutL"
			"aboutC"
			"aboutR";
	}

	.about__center {
		font-size: var(--F-SM);
		max-width: 75vw;
		margin-left: 12vw;
	}

	/*! WORK */

	#work {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"workL"
			"workC"
			"workR";
	}

	.work__center {
		grid-template-columns: 75vw;
		grid-template-rows: repeat(5, 200px);
		grid-template-areas:
			"project1 "
			"project2 "
			"project3 "
			"project4 "
			"project5 ";
	}

	/*! CONTACT */

	#contact {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas:
			"contactL"
			"contactC"
			"contactR";
	}

	/*! FOOTER */

	.footer {
		height: 70px;
	}

	.footer__logo {
		width: 90px;
	}

	.footer__h4--left {
		margin-right: 3vw;
		font-size: var(--F-NORMAL);
	}

	.footer__h4--right {
		margin-left: 3vw;
		font-size: var(--F-NORMAL);
	}
}

/** 768px <> 1024px */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	#about,
	#work {
		scroll-margin-top: 14vh;
	}

	/*! HEADER // NAV  */

	.name-wrapper {
		display: none;
	}
	.header {
		height: 9vh;
		display: block;
		align-content: center;
		padding: 0.5rem 12rem;
	}

	.header__border-gradient {
		position: sticky;
		top: 9vh;
		height: 6px;
		background: linear-gradient(
			to left,
			var(--BLACK) 10%,
			var(--WHITE) 45%,
			var(--WHITE) 55%,
			var(--BLACK) 90%
		);
		z-index: 100;
	}

	.nav {
		font-size: var(--F-M);
		margin-right: 0;
		padding-top: 0.5rem;
	}
	.nav__ul {
		justify-content: space-evenly;
	}
	.nav__li {
		margin-right: 0;
	}

	/*! AVATAR // TECH */

	.avatar__img {
		border-radius: 15%;
	}

	.tech-stack i {
		margin: 0 3.5vw;
	}

	/*! GENERAL */

	#about,
	#work,
	#contact,
	.footer {
		margin-top: 12vh;
	}

	.avatar,
	.tech-stack {
		margin: 10vh 0;
	}

	.about__left,
	.work__left,
	.contact__left {
		text-align: start;
		margin-bottom: 3vh;
		margin-left: 12vw;
		padding-bottom: 3vh;
		border-right: none;
		border-bottom: 2px solid var(--WHITE);
		max-width: 75vw;
	}

	.about__left h2,
	.work__left h2,
	.contact__left h2 {
		margin-right: none;
		font-size: var(--F-XL);
	}

	.tech-stack i,
	.contact__center i {
		font-size: 3.5rem;
	}

	.label {
		height: 45px;
	}

	.label h3 {
		font-size: var(--F-M);
	}
	.label p {
		font-size: var(--F-NORMAL);
		font-weight: 600;
	}

	/*! ABOUT */

	#about {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"aboutL"
			"aboutC"
			"aboutR";
	}

	.about__center {
		font-size: var(--F-SM);
		max-width: 75vw;
		margin-left: 12vw;
	}

	/*! WORK */

	#work {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"workL"
			"workC"
			"workR";
	}

	.work__center {
		grid-template-columns: 75vw;
		grid-template-rows: repeat(5, 300px);
		grid-template-areas:
			"project1 "
			"project2 "
			"project3 "
			"project4 "
			"project5 ";
	}

	/*! CONTACT */

	#contact {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas:
			"contactL"
			"contactC"
			"contactR";
	}

	/*! FOOTER */

	.footer {
		height: 75px;
	}

	.footer__logo {
		width: 100px;
	}

	.footer__h4--left {
		margin-right: 2vw;
		font-size: var(--F-NORMAL);
	}

	.footer__h4--right {
		margin-left: 2vw;
		font-size: var(--F-NORMAL);
	}
}

/** 1024px <> 1440px */

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
	#about,
	#work {
		scroll-margin-top: 15vh;
	}

	/*! HEADER // NAV  */

	.name-wrapper {
		display: none;
	}
	.header {
		height: 10vh;
		display: block;
		align-content: center;
		padding: 0.5rem 20rem;
	}

	.header__border-gradient {
		position: sticky;
		top: 10vh;
		height: 8px;
		background: linear-gradient(
			to left,
			var(--BLACK) 10%,
			var(--WHITE) 45%,
			var(--WHITE) 55%,
			var(--BLACK) 90%
		);
		z-index: 100;
	}

	.nav {
		font-size: var(--F-L);
		margin-right: 0;
		padding-top: 0.5rem;
	}
	.nav__ul {
		justify-content: space-evenly;
	}
	.nav__li {
		margin-right: 0;
	}

	/*! AVATAR // TECH */

	.avatar__img {
		border-radius: 15%;
	}

	.tech-stack i {
		margin: 0 3.5vw;
	}

	/*! GENERAL */

	#about,
	#work,
	#contact,
	.footer {
		margin-top: 14vh;
	}

	.avatar,
	.tech-stack {
		margin: 12vh 0;
	}

	.about__left,
	.work__left,
	.contact__left {
		text-align: start;
		margin-bottom: 3vh;
		margin-left: 12vw;
		padding-bottom: 3vh;
		border-right: none;
		border-bottom: 2px solid var(--WHITE);
		max-width: 75vw;
	}

	.about__left h2,
	.work__left h2,
	.contact__left h2 {
		margin-right: none;
		font-size: var(--F-XL);
	}

	.tech-stack i,
	.contact__center i {
		font-size: 4rem;
	}

	.label {
		height: 50px;
	}

	.label h3 {
		font-size: var(--F-L);
	}
	.label p {
		font-size: var(--F-NORMAL);
		font-weight: 600;
	}

	/*! ABOUT */

	#about {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"aboutL"
			"aboutC"
			"aboutR";
	}

	.about__center {
		font-size: var(--F-SM);
		max-width: 75vw;
		margin-left: 12vw;
	}

	/*! WORK */

	#work {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"workL"
			"workC"
			"workR";
	}

	.work__center {
		grid-template-columns: 75vw;
		grid-template-rows: repeat(5, 300px);
		grid-template-areas:
			"project1 "
			"project2 "
			"project3 "
			"project4 "
			"project5 ";
	}

	/*! CONTACT */

	#contact {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas:
			"contactL"
			"contactC"
			"contactR";
	}

	/*! FOOTER */

	.footer {
		height: 80px;
	}

	.footer__logo {
		width: 110px;
	}

	.footer__h4--left {
		margin-right: 2vw;
		font-size: var(--F-M);
	}

	.footer__h4--right {
		margin-left: 2vw;
		font-size: var(--F-M);
	}
}
