/** || MEDIA QUERIES */

/*! 0px <> 481px */

@media only screen and (min-width: 0px) and (max-width: 481px) {
	#about,
	#work {
		scroll-margin-top: 12vh;
	}

	/*! HEADER // NAV  */

	.name-wrapper {
		display: none;
	}
	.header {
		height: 3rem;
		display: block;
		align-content: center;
	}

	.header__border-gradient {
		position: sticky;
		top: 3rem;
		height: 4px;
	}

	.nav {
		font-size: var(--F-NORMAL);
		padding-top: 1rem;
		text-align: center;
	}

	/*! AVATAR // TECH */

	.avatar__img {
		border-radius: 15%;
	}

	.tech-stack i {
		margin: 0 3.5vw;
	}

	.full-name__container {
		display: flex;
	}

	.f-name {
		font-size: var(--F-M);
		font-weight: 500;
		letter-spacing: 0.2rem;
	}

	.l-name {
		font-size: var(--F-NORMAL);
		font-weight: 400;
		letter-spacing: 0.15rem;
	}

	/*! GENERAL */

	#about,
	#work,
	#contact,
	.footer {
		margin-top: 6vh;
	}

	.avatar,
	.tech-stack {
		margin: 6vh 0;
	}

	.about__left,
	.work__left,
	.contact__left {
		text-align: start;
		margin-bottom: 3vh;
		margin-left: 12vw;
		padding-bottom: 3vh;
		border-right: none;
		border-bottom: 2px solid var(--WHITE);
		max-width: 75vw;
	}

	.about__left h2,
	.work__left h2,
	.contact__left h2 {
		margin-right: none;
		font-size: var(--F-XL);
	}

	.tech-stack i,
	.contact__center i {
		font-size: 2.5rem;
	}

	.label {
		height: 30px;
	}

	.label h3 {
		font-size: var(--F-NORMAL);
	}
	.label p {
		font-size: var(--F-SM);
		font-weight: 600;
	}

	/*! ABOUT */

	#about {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"aboutL"
			"aboutC"
			"aboutR";
	}

	.about__center {
		max-width: 75vw;
		margin-left: 12vw;
	}

	.about p {
		font-size: var(--F-NORMAL);
	}

	/*! WORK */

	#work {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"workL"
			"workC"
			"workR";
	}

	.work__center {
		grid-template-columns: 80vw;
		grid-template-rows: repeat(5, 125px);
		grid-template-areas:
			"project1 "
			"project2 "
			"project3 "
			"project4 "
			"project5 ";
	}

	/*! CONTACT */

	#contact {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"contactL"
			"contactC"
			"contactR";
	}

	/*! FOOTER */

	.footer {
		height: 60px;
	}

	.footer__logo {
		width: 85px;
	}

	.footer__h4--left {
		margin-right: 5vw;
		font-size: var(--F-NORMAL);
	}

	.footer__h4--right {
		margin-left: 5vw;
		font-size: var(--F-NORMAL);
	}
}

/*! 481px <> 768px */

@media only screen and (min-width: 481px) and (max-width: 768px) {
	#about,
	#work {
		scroll-margin-top: 12.5vh;
	}

	/*! HEADER // NAV  */

	.name-wrapper {
		display: none;
	}
	.header {
		height: 3.5rem;
		display: block;
		align-content: center;
	}

	.header__border-gradient {
		position: sticky;
		top: 3.5rem;
		height: 5px;
	}

	.nav {
		font-size: var(--F-M);
		padding-top: 1.2rem;
		text-align: center;
	}

	/*! AVATAR // TECH */

	.avatar__img {
		border-radius: 15%;
	}

	.tech-stack i {
		margin: 0 3.5vw;
	}

	.full-name__container {
		display: flex;
	}

	.f-name {
		font-size: var(--F-M);
		font-weight: 500;
		letter-spacing: 0.2rem;
	}

	.l-name {
		font-size: var(--F-NORMAL);
		font-weight: 400;
		letter-spacing: 0.15rem;
	}

	/*! GENERAL */

	#about,
	#work,
	#contact,
	.footer {
		margin-top: 10vh;
	}

	.avatar,
	.tech-stack {
		margin: 8vh 0;
	}

	.about__left,
	.work__left,
	.contact__left {
		text-align: start;
		margin-bottom: 3vh;
		margin-left: 12vw;
		padding-bottom: 3vh;
		border-right: none;
		border-bottom: 2px solid var(--WHITE);
		max-width: 75vw;
	}

	.about__left h2,
	.work__left h2,
	.contact__left h2 {
		margin-right: none;
		font-size: var(--F-XL);
	}

	.tech-stack i,
	.contact__center i {
		font-size: 3rem;
	}

	.label {
		height: 40px;
	}

	.label h3 {
		font-size: var(--F-M);
	}
	.label p {
		font-size: var(--F-NORMAL);
		font-weight: 600;
	}

	/*! ABOUT */

	#about {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"aboutL"
			"aboutC"
			"aboutR";
	}

	.about__center {
		max-width: 75vw;
		margin-left: 12vw;
	}

	.about p {
		font-size: var(--F-NORMAL);
	}

	/*! WORK */

	#work {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"workL"
			"workC"
			"workR";
	}

	.work__center {
		grid-template-columns: 75vw;
		grid-template-rows: repeat(5, 200px);
		grid-template-areas:
			"project1 "
			"project2 "
			"project3 "
			"project4 "
			"project5 ";
	}

	/*! CONTACT */

	#contact {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto) auto auto auto;
		grid-template-areas:
			"contactL"
			"contactC"
			"contactR";
	}

	/*! FOOTER */

	.footer {
		height: 70px;
	}

	.footer__logo {
		width: 90px;
	}

	.footer__h4--left {
		margin-right: 3vw;
		font-size: var(--F-NORMAL);
	}

	.footer__h4--right {
		margin-left: 3vw;
		font-size: var(--F-NORMAL);
	}
}

/*! 768px <> 1024px */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	#about,
	#work {
		scroll-margin-top: 14vh;
	}

	/*! HEADER // NAV  */

	.name-wrapper {
		display: none;
	}
	.header {
		height: 3.5rem;
		display: block;
		align-content: center;
	}

	.header__border-gradient {
		position: sticky;
		top: 3.5rem;
		height: 6px;
	}

	.nav {
		font-size: var(--F-M);
		padding-top: 1.25rem;
		text-align: center;
	}

	/*! AVATAR // TECH */

	.avatar__img {
		border-radius: 15%;
	}

	.tech-stack i {
		margin: 0 3.5vw;
	}

	.full-name__container {
		display: flex;
		line-height: 1.75rem;
	}

	.f-name {
		font-size: var(--F-L);
		font-weight: 500;
		letter-spacing: 0.2rem;
	}

	.l-name {
		font-size: var(--F-M);
		font-weight: 400;
		letter-spacing: 0.15rem;
	}

	/*! GENERAL */

	#about,
	#work,
	#contact,
	.footer {
		margin-top: 12vh;
	}

	.avatar,
	.tech-stack {
		margin: 10vh 0;
	}

	.about__left,
	.work__left,
	.contact__left {
		text-align: start;
		margin-bottom: 3vh;
		margin-left: 12vw;
		padding-bottom: 3vh;
		border-right: none;
		border-bottom: 2px solid var(--WHITE);
		max-width: 75vw;
	}

	.about__left h2,
	.work__left h2,
	.contact__left h2 {
		margin-right: none;
		font-size: var(--F-XL);
	}

	.tech-stack i,
	.contact__center i {
		font-size: 3.5rem;
	}

	.label {
		height: 45px;
	}

	.label h3 {
		font-size: var(--F-M);
	}
	.label p {
		font-size: var(--F-NORMAL);
		font-weight: 600;
	}

	/*! ABOUT */

	#about {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"aboutL"
			"aboutC"
			"aboutR";
	}

	.about__center {
		max-width: 75vw;
		margin-left: 12vw;
	}

	.about p {
		font-size: var(--F-NORMAL);
	}

	/*! WORK */

	#work {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"workL"
			"workC"
			"workR";
	}

	.work__center {
		grid-template-columns: 75vw;
		grid-template-rows: repeat(5, 300px);
		grid-template-areas:
			"project1 "
			"project2 "
			"project3 "
			"project4 "
			"project5 ";
	}

	/*! CONTACT */

	#contact {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto) auto auto auto;
		grid-template-areas:
			"contactL"
			"contactC"
			"contactR";
	}

	/*! FOOTER */

	.footer {
		height: 75px;
	}

	.footer__logo {
		width: 100px;
	}

	.footer__h4--left {
		margin-right: 2vw;
		font-size: var(--F-NORMAL);
	}

	.footer__h4--right {
		margin-left: 2vw;
		font-size: var(--F-NORMAL);
	}
}

/*! 1024px <> 1440px */

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
	#about,
	#work {
		scroll-margin-top: 15vh;
	}

	/*! HEADER // NAV  */

	.name-wrapper {
		display: none;
	}
	.header {
		height: 4.5rem;
		display: block;
		align-content: center;
	}

	.header__border-gradient {
		position: sticky;
		top: 4.5rem;
		height: 8px;
	}

	.nav {
		font-size: var(--F-L);
		padding-top: 1.5rem;
		text-align: center;
	}

	/*! AVATAR // TECH */

	.avatar__img {
		border-radius: 15%;
	}

	.tech-stack i {
		margin: 0 3.5vw;
	}

	.full-name__container {
		display: flex;
		line-height: 1.75rem;
	}

	.f-name {
		font-size: var(--F-L);
		font-weight: 500;
		letter-spacing: 0.2rem;
	}

	.l-name {
		font-size: var(--F-M);
		font-weight: 400;
		letter-spacing: 0.15rem;
	}

	/*! GENERAL */

	#about,
	#work,
	#contact,
	.footer {
		margin-top: 14vh;
	}

	.avatar,
	.tech-stack {
		margin: 12vh 0;
	}

	.about__left,
	.work__left,
	.contact__left {
		text-align: start;
		margin-bottom: 3vh;
		margin-left: 12vw;
		padding-bottom: 3vh;
		border-right: none;
		border-bottom: 2px solid var(--WHITE);
		max-width: 75vw;
	}

	.about__left h2,
	.work__left h2,
	.contact__left h2 {
		margin-right: none;
		font-size: var(--F-XL);
	}

	.tech-stack i,
	.contact__center i {
		font-size: 4rem;
	}

	.label {
		height: 50px;
	}

	.label h3 {
		font-size: var(--F-L);
	}
	.label p {
		font-size: var(--F-NORMAL);
		font-weight: 600;
	}

	/*! ABOUT */

	#about {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"aboutL"
			"aboutC"
			"aboutR";
	}

	.about__center {
		max-width: 75vw;
		margin-left: 12vw;
	}

	.about p {
		font-size: var(--F-M);
	}

	.about__center article {
		max-width: 100%;
	}

	/*! WORK */

	#work {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"workL"
			"workC"
			"workR";
	}

	.work__center {
		grid-template-columns: 75vw;
		grid-template-rows: repeat(5, 300px);
		grid-template-areas:
			"project1 "
			"project2 "
			"project3 "
			"project4 "
			"project5 ";
	}

	/*! CONTACT */

	#contact {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto) auto auto auto;
		grid-template-areas:
			"contactL"
			"contactC"
			"contactR";
	}

	/*! FOOTER */

	.footer {
		height: 80px;
	}

	.footer__logo {
		width: 110px;
	}

	.footer__h4--left {
		margin-right: 2vw;
		font-size: var(--F-M);
	}

	.footer__h4--right {
		margin-left: 2vw;
		font-size: var(--F-M);
	}
}
