@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");

/*! RESETS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	/* border: 1px solid red; */
}

/*! || VARIABLES */

:root {
	/** FONTS */
	--ROBOTO: "Roboto", sans-serif;
	--ROBOTO-MONO: "Roboto Mono", monospace;

	/** FONT SIZES */
	--F-XS: 0.5;
	--F-SM: 0.75rem;
	--F-NORMAL: 1rem;
	--F-M: 1.25rem;
	--F-L: 1.5rem;
	--F-XL: 1.75rem;
	--F-XXL: 2rem;

	/** COLORS */
	--WHITE: #f5f5f5;
	--BLUE: #118ab2;
	--RED: #df2935;
	--YELLOW: #ff9f1c;
	--BLACK: #333;
}

/*! UTILITIES */

.nowrap {
	white-space: nowrap;
}

/*! GENERAL */

html {
	scroll-behavior: smooth;

	font-size: var(--F-NORMAL);
	font-family: var(--ROBOTO-MONO);
	color: var(--WHITE);

	background-color: var(--BLACK);
}

#about,
#work {
	scroll-margin-top: 2.5vh;
}

/*! || HEADER */

.header {
	background-color: var(--BLUE);
	height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* position: sticky;
	top: 0; */
	padding: 0 0 0 7.5%;
}

/*! NAME */

.name-wrapper {
	line-height: 1.75rem;
	margin-left: 5%;
}

.name__h1 {
	font-size: var(--F-XL);
	letter-spacing: 0.2rem;
}
.name__h2 {
	font-size: 1.15rem;
}

/*! NAV */

.nav {
	font-size: var(--F-L);
	margin-right: 10%;
}

.nav__ul {
	display: flex;
}

.nav__li {
	list-style-type: none;
	margin-right: 10%;
	transition: all 0.2s ease-in-out;
}

.nav__li:hover {
	opacity: 0.8;
	transform: scale(0.99);
}

.nav__a {
	color: var(--WHITE);
	text-decoration: none;
}

/*! || AVATAR */

.avatar {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 6vh;
}

.avatar__img {
	width: clamp(100px, 15%, 150px);
	height: auto;
	border-radius: 20%;
}

/*! || TECH STACK */

.tech-stack {
	margin-top: 6vh;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-box-reflect: below 0px
		linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.tech-stack i {
	font-size: 3.5rem;
	margin: 0 2.5vw;
	transition: all 0.2s ease-in-out;
}

.tech-stack i:hover {
	opacity: 0.8;
	transform: scale(1.1);
}

.fa-html5 {
	color: var(--RED);
}
.fa-css3-alt {
	color: yellowgreen;
}
.fa-js {
	color: var(--YELLOW);
}
.fa-react {
	color: dodgerblue;
}

/*! || MAIN */

/* .main {
	display: grid;
	grid-template-columns: auto 1200px auto;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		"about about about"
		"work work work"
		"contact contact contact";

	margin: 5rem 0 1rem 0;
}

#about {
	grid-area: about;
}
#work {
	grid-area: work;
}
#contact {
	grid-area: contact;
} */

/*! ABOUT */

#about {
	display: grid;
	grid-template-columns: 17.5% auto 17.5%;
	grid-template-rows: auto;
	grid-template-areas: "aboutL aboutC aboutR";

	margin-top: 5rem;
}

.about__left {
	grid-area: aboutL;

	border-right: 3px solid var(--WHITE);
	text-align: right;
}
.about__left h2 {
	margin-right: 10%;
	font-size: var(--F-XXL);
}
.about__center {
	grid-area: aboutC;

	display: flex;
	justify-content: center;
	text-align: justify;

	font-size: var(--F-NORMAL);
}

.about__center article {
	max-width: 720px;
}

.about__right {
	grid-area: aboutR;
}

/*! WORK */

#work {
	display: grid;
	grid-template-columns: 17.5% auto 17.5%;
	grid-template-rows: auto;
	grid-template-areas: "workL workC workR";

	margin-top: 5rem;
}

.work__left {
	grid-area: workL;
	border-right: 3px solid var(--WHITE);
	text-align: right;
}

.work__left h2 {
	margin-right: 10%;
	font-size: var(--F-XXL);
}

.work__right {
	grid-area: workR;
}

.work__center {
	grid-area: workC;
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: 180px 180px 180px 180px;
	/* grid-template-rows: 19vh 19vh 19vh 19vh 19vh; */
	grid-template-rows: 135px 135px 135px 135px 135px;
	grid-template-areas:
		"project1 project1 project1 project1"
		"project1 project1 project1 project1"
		"project1 project1 project1 project1"
		"project2 project2 project5 project4"
		"project2 project2 project3 project3";
}

.project__1 {
	grid-area: project1;
	background-image: url("../images/horiseon-demo.png");
	cursor: pointer;
}
.project__2 {
	grid-area: project2;
	background-image: url("../images/portfolio-1.jpg");
	cursor: not-allowed;
}
.project__3 {
	grid-area: project3;
	background-image: url("../images/portfolio-2.jpg");
	cursor: not-allowed;
}
.project__4 {
	grid-area: project4;
	background-image: url("../images/portfolio-3.jpg");
	cursor: not-allowed;
}
.project__5 {
	grid-area: project5;
	background-image: url("../images/portfolio-4.jpg");
	cursor: not-allowed;
}

.project {
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0.5rem;
	margin: 0.5rem;
	transition: all 0.3s ease-in-out;
}

.work__center:has(.project:hover) .project:not(:hover) {
	transform: scale(0.85);
	/* margin: 1rem; */
}

.label {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: var(--F-SM);
	background-color: var(--YELLOW);
	color: var(--BLACK);
	border-bottom-right-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	text-align: center;
	z-index: 1;
}

.label p {
	font-weight: 500;
}

.project:has(.label:hover) .overlay:not(:hover) {
	opacity: 0;
}

.overlay {
	position: absolute;
	background-color: var(--BLUE);
	opacity: 0.5;
	height: 100%;
	width: 100%;
	border-radius: 0.5rem;
	transition: all 0.2s ease-in-out;
}

.overlay:hover {
	opacity: 0;
}

/*! CONTACT */

#contact {
	display: grid;
	grid-template-columns: 17.5% auto 17.5%;
	grid-template-rows: 1fr;
	grid-template-areas: "contactL contactC contactR";

	height: 6rem;
	margin-top: 4rem;
}

.contact__left {
	grid-area: contactL;

	border-right: 3px solid var(--WHITE);
	text-align: right;
}
.contact__left h2 {
	margin-right: 10%;
	font-size: var(--F-XXL);
}

.contact__center {
	grid-area: contactC;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.contact__center i {
	font-size: 3rem;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.contact__center i:hover {
	opacity: 0.8;
	transform: scale(0.99);
}

.contact__right {
	grid-area: contactR;
}

.fa-envelope {
	color: var(--RED);
}
.fa-linkedin {
	color: dodgerblue;
}

/*! || FOOTER */

.footer {
	background-color: var(--BLUE);
	color: var(--WHITE);
	height: 75px;
	font-size: var(--F-NORMAL);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4rem;
}

.footer__logo {
	width: 120px;
	height: auto;
}

.footer__h4--left {
	margin-right: 1%;
	font-size: var(--F-L);
}
.footer__h4--right {
	margin-left: 1%;
	font-size: var(--F-M);
}
