@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");

/* RESETS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	/* border: 1px solid red; */
}

/* VARIABLES */

:root {
	/* FONTS */
	--ROBOTO: "Roboto", sans-serif;
	--ROBOTO-MONO: "Roboto Mono", monospace;

	/* COLORS */
	--WHITE: #f5f5f5;
	--BLUE: #118ab2;
	--RED: #df2935;
	--YELLOW: #ff9f1c;
	--BLACK: #333;
}

/* UTILITIES */

.nowrap {
	white-space: nowrap;
}

/* GENERAL */

html {
	scroll-behavior: smooth;
	font-family: var(--ROBOTO-MONO);

	background-color: var(--BLACK);
	color: var(--WHITE);
}

#about,
#work {
	scroll-margin-top: 2rem;
}

/* || HEADER */

.header {
	background-color: var(--BLUE);
	/* background-color: var(--INDIGO-DYE); */
	height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* position: sticky;
	top: 0; */
	padding: 0 0 0 7.5%;
}

/* NAME */

.name-wrapper {
	color: var(--WHITE);
	line-height: 1.5rem;
	margin-left: 7rem;
}

.name__h1 {
	font-size: 1.75rem;
	letter-spacing: 0.2rem;
}
.name__h2 {
	font-size: 1.15rem;
}

/* NAV */

.nav {
	font-size: 1.5rem;
	margin-right: 10rem;
}

.nav__ul {
	display: flex;
}

.nav__li {
	list-style-type: none;
	margin-right: 1.5rem;
	transition: all 0.2s ease-in-out;
}

.nav__li:hover {
	opacity: 0.8;
	transform: scale(0.99);
}

.nav__a {
	color: var(--WHITE);
	text-decoration: none;
}

/* || AVATAR */

.avatar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.avatar__img {
	width: 10rem;
	height: auto;
	border-radius: 20%;
	margin-top: 4rem;
}

.avatar__h2 {
	font-size: 1.25rem;
	margin-top: 1rem;
	color: var(--WHITE);
	background-color: #124e78;
	border-radius: 0.5rem;
	padding: 0 0.5rem;
}

/* || TECH STACK */

.tech-stack {
	font-size: 3.5rem;
	margin-top: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-box-reflect: below 0px
		linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.tech-stack i {
	margin: 0 1rem;
	transition: all 0.2s ease-in-out;
}

.tech-stack i:hover {
	opacity: 0.8;
	transform: scale(1.1);
}

.fa-html5 {
	color: var(--RED);
}
.fa-css3-alt {
	color: yellowgreen;
}
.fa-js {
	color: var(--YELLOW);
}
.fa-react {
	/* font-weight: bold; */
	color: dodgerblue;
}

/* || MAIN */

/* .main {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		"about about about"
		"work work work"
		"contact contact contact";

	margin: 5rem 0 1rem 0;
}

#about {
	grid-area: about;
}
#work {
	grid-area: work;
}
#contact {
	grid-area: contact;
} */

/* ABOUT */

#about {
	display: grid;
	grid-template-columns: 15% auto 15%;
	grid-template-rows: auto;
	grid-template-areas: "aboutL aboutC aboutR";

	margin-top: 4rem;
}

.about__left {
	grid-area: aboutL;

	border-right: 3px solid var(--WHITE);
	text-align: right;
}
.about__left h2 {
	margin-right: 10%;
	font-size: 2rem;
}
.about__center {
	grid-area: aboutC;

	font-size: 0.75rem;
	/* margin-left: 5%; */
}

.about__center p {
	margin: 0 10%;
}

.about__right {
	grid-area: aboutR;
}

/* WORK */

#work {
	display: grid;
	grid-template-columns: 15% auto 15%;
	grid-template-rows: auto;
	grid-template-areas: "workL workC workR";

	margin-top: 4rem;
}

.work__left {
	grid-area: workL;
	border-right: 3px solid var(--WHITE);
	text-align: right;
}

.work__left h2 {
	margin-right: 10%;
	font-size: 2rem;
}

.work__right {
	grid-area: workR;
}

.work__center {
	grid-area: workC;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 200px 200px 200px 200px 200px;
	grid-template-areas:
		"wk1 wk1 wk1 wk1"
		"wk1 wk1 wk1 wk1"
		"wk1 wk1 wk1 wk1"
		"wk2 wk2 wk5 wk4"
		"wk2 wk2 wk3 wk3";

	margin-left: 5%;
}

.work__1 {
	grid-area: wk1;
	background-image: url("../images/horiseon-demo.png");
	cursor: pointer;
}
.work__2 {
	grid-area: wk2;
	background-image: url("../images/portfolio-1.jpg");
	cursor: not-allowed;
}
.work__3 {
	grid-area: wk3;
	background-image: url("../images/portfolio-2.jpg");
	cursor: not-allowed;
}
.work__4 {
	grid-area: wk4;
	background-image: url("../images/portfolio-3.jpg");
	cursor: not-allowed;
}
.work__5 {
	grid-area: wk5;
	background-image: url("../images/portfolio-4.jpg");
	cursor: not-allowed;
}

.wk__area {
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* border: 0.1rem solid var(----YELLOW); */
	border-radius: 0.5rem;
	margin: 0.5rem;
	transition: all 0.3s ease-in-out;
}

.wk__area:hover {
	transform: scale(0.98);
}

.label {
	position: absolute;
	background-color: var(--YELLOW);
	bottom: 0;
	width: 100%;
	color: var(--BLACK);
	text-align: center;
	z-index: 1;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.overlay {
	position: absolute;
	background-color: var(--BLUE);
	opacity: 0.5;
	height: 100%;
	width: 100%;
	border-radius: 0.5rem;
	transition: all 0.2s ease-in-out;
}

.overlay:hover {
	opacity: 0;
	transform: scale(0.98);
}

/* CONTACT */

#contact {
	display: grid;
	grid-template-columns: 15% auto 15%;
	grid-template-rows: 1fr;
	grid-template-areas: "contactL contactC contactR";

	height: 6rem;
	margin-top: 4rem;
}

.contact__left {
	grid-area: contactL;

	border-right: 3px solid var(--WHITE);
	text-align: right;
}
.contact__left h2 {
	margin-right: 10%;
	font-size: 2rem;
}

.contact__center {
	grid-area: contactC;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 5%;
}

.contact__center i {
	font-size: 3rem;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.contact__center i:hover {
	opacity: 0.8;
	transform: scale(0.99);
}

.contact__right {
	grid-area: contactR;
}

.fa-envelope {
	color: var(--RED);
}
.fa-linkedin {
	color: dodgerblue;
}

/* || FOOTER */

.footer {
	background-color: var(--BLUE);
	color: var(--WHITE);
	font-size: 1.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4rem;
}

.footer__logo {
	width: 100px;
	height: auto;
}
